.header {

    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    grid-row: 1/2;
    grid-column: 1/4;
}